build --cxxopt=-Wno-unused-function
build --cxxopt=-Werror=unused-result
build --cxxopt=-Werror=attributes
build --cxxopt=-Winline
build --cxxopt=--std=c++20
build --crosstool_top=@llvm_toolchain//:toolchain

# build --override_repository=rules_haskell=/home/gprusak/github/rules_haskell
# build --override_repository=xgboost=/home/gprusak/github/xgboost
# build --override_repository=com_grail_bazel_toolchain=/home/gprusak/github/bazel-toolchain
